/* 
    Document   : olx_styling
    Created on : Feb 10, 2015, 2:38:24 PM
    Author     : REX
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.mtable{
    padding-left: 150px;
 }

#myacc{ 
    padding-left: 145px;
}
#searchPanel{
    border: 1px solid black;
}
#searchPanel>td{
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}

#mainHeading{
 font-size: 20px;    
}

input{
    border-radius: 5px;
}
input:focus{
    border: 1px solid lightblue; 
}
input#search{
    width: 250px;
    height: 30px;
    background-image: url("images/area.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px, 20px;
}
input#ad_type{
    width: 350px;
    height: 30px;
    margin-left: 10px;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px, 20px;    
}

#advSell{
    padding-left: 30px;
}

#products{
    padding-left: 10px;
}

a{
    text-decoration: none;
    text-align: center;
}
#adv{
    color: orange;
}
a:hover{
    color: orange;
}
#submit_btn{
  width: 95px;
  height: 40px;
  margin-left: 10px;
}

#jobs{
    text-align: center;
}